<div class="web_container" style="width: 95%;">
    <div class="web_body_wraper">
        <div id="itemManager">
            <h1>Quản lý sản phẩm</h1>
            <button class="btn btn-success" style="float: right; margin: 20px;" id="btnAddItem">
                <span>Thêm</span>
            </button>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <i class="fa fa-list" aria-hidden="true"></i>No.
                            </th>
                            <th>ID</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Mô tả</th>
                            <th>Tác giả</th>
                            <th>Ngày xuất bản</th>
                            <th>Nhà sản xuất</th>
                            <th>Loại</th>
                            <th>Giá bán (VND)</th>
                            <th>Giá nhập (VND)</th>
                            <th>Số lượng tồn</th>
                            <th>Doanh thu (VND)</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{this.numberic}}</td>
                            <td>{{this.id}}</td>
                            <td>
                                <img src="{{../layoutVM.imageUrl}}/{{this.id}}.jpg" width="72px">
                            </td>
                            <td>{{this.prod_name}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.author}}</td>
                            <td>{{this.publish_date}}</td>
                            <td>{{this.manufacturer}}</td>
                            <td>{{this.prod_type}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.import_price}}</td>
                            <td>{{this.in_stock}}</td>
                            <td>{{this.revenue}}</td>
                            <td>
                                <button class="btn btn-warning btnEditItem">Edit</button>
                                <br>
                                <br>
                                <br> {{#if this.using_orders}} {{else}}
                                <button class="btn btn-danger btnDeleteItem">Delete</button>

                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    {{#with prevPage}} {{#if this.isOK}}
                    <li class="page-item pagination-prev">
                        <a class="page-link" href="{{this.url}}">Previous</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled pagination-prev">
                        <a class="page-link" href="{{this.url}}">Previous</a>
                    </li>
                    {{/if}} {{/with}} {{#each pages}} {{#if this.isCurPage}}
                    <li class="page-item active">
                        <a class="page-link" href="{{this.url}}">{{this.val}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="{{this.url}}">{{this.val}}</a>
                    </li>
                    {{/if}} {{/each}} {{#with nextPage}} {{#if this.isOK}}
                    <li class="page-item pagination-next">
                        <a class="page-link" href="{{this.url}}">Next</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled pagination-next">
                        <a class="page-link" href="{{this.url}}">Next</a>
                    </li>
                    {{/if}} {{/with}}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- BEGIN Modal Add Item -->
<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="float: left; display: flex;">
                <h4 class="modal-title" style="float: left; display: flex;">
                    Thêm sản phẩm
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
            </div>
            <form id="addProductForm" enctype="multipart/form-data" action="/admin/product_manage/upload" method="POST">
                <div class="modal-body modal_information">
                    <div class="row">

                        <div class="col-md-3 entry_information">
                            <label>Hình lớn (550x550)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input type="file" required="required" accept=".jpg" id="product_img_add" name="product_img" />
                        </div>


                        <div class="col-md-3 entry_information">
                            <label>Tên sản phẩm</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" required="required" id="product_name_add" name="product_name" placeholder="Nhập tên sản phẩm"
                            />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Mô tả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <textarea class="form-control" type="text" id="decription" name="decription" placeholder="Nhập mô tả"></textarea>
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Tác giả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" required="required" id="author_add" name="author" placeholder="Nhập tên tác giả"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Ngày xuất bản (mm-dd-YYYY)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="date" value="2000-01-01" required="required" id="publish_date_add" name="publish_date"
                            />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Nhà sản xuất (NXB)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <select class="form-control" required name="product_manu" id="product_manu_add">
                                {{#each layoutVM.manufacturer}}
                                <option value="{{this.id_manufacturer}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Loại</label>
                        </div>

                        <div class="col-md-9 entry_information">
                            <select class="form-control" required name="product_type" id="product_type_add">
                                {{#each layoutVM.type}}
                                <option value="{{this.id_class}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá bán (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" min="0" required="required" id="price_add" name="price" placeholder="Nhập giá bán của sản phẩm"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá nhập (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" min="0" required="required" id="import_price_add" name="import_price" placeholder="Nhập giá nhập về của sản phẩm"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Số lượng tồn</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" min="0" required="required" id="in_stock_add" name="in_stock" placeholder="Nhập số lượng có trong kho"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_information">
                    <div id="submit_result_add" style="margin-right: 40%; width: 60%;"></div>
                    <button type="submit" id="btn_submit_add" class="btn btn-success">Xong</button>
                    <button class="btn btn-info" id="btn_cancel_add">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN Modal update Item -->
<div class="modal fade" id="modalEditItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="float: left; display: flex;">
                <h4 class="modal-title" style="float: left; display: flex;">
                    Cập nhật sản phẩm
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
            </div>
            <form id="editProductForm" enctype="multipart/form-data" action="/admin/product_manage/edit" method="POST">
                <div class="modal-body modal_information">
                    <div class="row">
                        <input class="form-control" type="hidden" name="productIdToEdit" id="productIdToEdit" value="" />
                        <div class="col-md-3 entry_information">
                            <label>Hình lớn (550x550)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input type="file" accept=".jpg" id="product_img_edit" name="product_img" />
                        </div>


                        <div class="col-md-3 entry_information">
                            <label>Tên sản phẩm</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" required="required" type="text" id="product_name_edit" name="product_name" placeholder="Nhập tên sản phẩm"
                            />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Mô tả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <textarea class="form-control" id="decription" name="decription" placeholder="Nhập mô tả"></textarea>
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Tác giả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" required="required" id="author_edit" name="author" placeholder="Nhập tên tác giả"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Ngày xuất bản (mm-dd-YYYY)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="date" required="required" id="publish_date_edit" name="publish_date" />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Nhà sản xuất (NXB)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <select class="form-control" required name="product_manu" id="product_manu_edit">
                                {{#each layoutVM.manufacturer}}
                                <option value="{{this.id_manufacturer}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Loại</label>
                        </div>

                        <div class="col-md-9 entry_information">
                            <select class="form-control" required name="product_type" id="product_type_edit">
                                {{#each layoutVM.type}}
                                <option value="{{this.id_class}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá bán (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" required="required" min="0" id="price_edit" name="price" placeholder="Nhập giá bán của sản phẩm"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá nhập (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" required="required" min="0" id="import_price_edit" name="import_price" placeholder="Nhập giá nhập về của sản phẩm"
                            />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Số lượng tồn</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" required="required" min="0" id="in_stock_edit" name="in_stock" placeholder="Nhập số lượng có trong kho"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_information">
                    <div id="submit_result_edit" style="margin-right: 40%; width: 60%;"></div>
                    <button type="submit" id="btn_submit_edit" class="btn btn-success">Xong</button>
                    <button class="btn btn-info" id="btn_cancel_edit">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN Modal delete Item -->
<div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="float: left; display: flex;">
                <h4 class="modal-title" style="float: left; display: flex; color:red;">
                    Xóa sản phẩm
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
            </div>
            <form id="deleteProductForm" action="/admin/product_manage/delete" method="POST">
                <div class="modal-body modal_information">
                    <div class="row">
                        <div class="col-md-3 entry_information">
                            <label>ID</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" readonly="readonly" name="productIdToDelete" id="productIdToDelete" />

                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Tên sản phẩm</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" readonly="readonly" type="text" id="product_name_delete" name="product_name" />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Mô tả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <textarea class="form-control" id="decription" readonly="readonly" name="decription"></textarea>
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Tác giả</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" readonly="readonly" id="author_delete" name="author" />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Ngày xuất bản (mm-dd-YYYY)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="text" readonly="readonly" id="publish_date_delete" name="publish_date" />
                        </div>
                        <div class="col-md-3 entry_information">
                            <label>Nhà sản xuất (NXB)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input type="text" class="form-control" readonly="readonly" name="product_manu" id="product_manu_delete" />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Loại</label>
                        </div>

                        <div class="col-md-9 entry_information">
                            <input type="text" class="form-control" readonly="readonly" name="product_type" id="product_type_delete" />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá bán (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" readonly="readonly" min="0" id="price_delete" name="price" />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Giá nhập (VND)</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" readonly="readonly" min="0" id="import_price_delete" name="import_price" />
                        </div>

                        <div class="col-md-3 entry_information">
                            <label>Số lượng tồn</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input class="form-control" type="number" readonly="readonly" min="0" id="in_stock_delete" name="in_stock" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_information">
                    <div id="submit_result_delete" style="margin-right: 40%; width: 60%;"></div>
                    <button type="submit" id="btn_submit_delete" class="btn btn-danger">Ok, Xóa</button>
                    <button class="btn btn-info" id="btn_cancel_delete">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#btn_cancel_add').click(function () {
            $("#modalAddItem").modal('hide');
        });

        $('#btn_cancel_edit').click(function () {
            $("#modalEditItem").modal('hide');
        });

        $('#btn_cancel_delete').click(function () {
            $("#modalDeleteItem").modal('hide');
        });

        $('#addProductForm').submit(function () {
            $(this).ajaxSubmit({
                error: function (xhr) {
                    console.log(xhr.status);
                },
                success: function (response) {
                    $("#submit_result_add").text(response.feedback);
                    if (response.isSuccess === true) {
                        $("#submit_result_add").css({ "color": "#4cd137", "font-size": "20px" });
                    }
                    else {
                        $("#submit_result_add").css({ "color": "red", "font-size": "20px" });
                    }
                }
            });
            return false;
        });
        $('.btnEditItem').click(function () {
            $("#modalEditItem").modal('show');
            var $row = $(this).closest('tr');
            var $data = $row.find("td");
            var productIdToEdit = $data.eq(1).text();
            var product_name_edit = $data.eq(3).text();
            var product_descripton_edit = $data.eq(4).text();
            var author_edit = $data.eq(5).text();
            var publish_date_edit = $data.eq(6).text();
            var tmpDate = publish_date_edit.split("-");
            publish_date_edit = tmpDate[2] + "-" + tmpDate[1] + "-" + tmpDate[0];
            var product_manu_edit = $data.eq(7).text();
            var product_type_edit = $data.eq(8).text();
            var price_edit = $data.eq(9).text();
            var import_price_edit = $data.eq(10).text();
            var in_stock_edit = $data.eq(11).text();
            console.log(productIdToEdit);
            $("#product_name_edit").val(product_name_edit);
            $("#productIdToEdit").val(productIdToEdit);
            $("#decription").val(productIdToEdit);
            $("#author_edit").val(author_edit);
            $("#publish_date_edit").val(publish_date_edit);
            $("#product_manu_edit option").filter(function () {
                return this.text == product_manu_edit;
            }).attr('selected', true);
            $("#product_type_edit option").filter(function () {
                return this.text == product_type_edit;
            }).attr('selected', true);
            $("#price_edit").val(price_edit);
            $("#import_price_edit").val(import_price_edit);
            $("#in_stock_edit").val(in_stock_edit);

            $('#editProductForm').submit(function () {
                $(this).ajaxSubmit({
                    error: function (xhr) {
                        console.log(xhr.status);
                    },
                    success: function (response) {
                        $("#submit_result_edit").text(response.feedback);
                        if (response.isSuccess === true) {
                            $("#submit_result_edit").css({ "color": "#4cd137", "font-size": "20px" });
                        }
                        else {
                            $("#submit_result_edit").css({ "color": "red", "font-size": "20px" });
                        }
                    }
                });
                return false;
            });
            console.log(product_type_edit);
        });
        $('.btnDeleteItem').click(function () {
            $("#modalDeleteItem").modal('show');
            var $row = $(this).closest('tr');
            var $data = $row.find("td");
            var productIdToDelete = $data.eq(1).text();
            var product_name_delete = $data.eq(3).text();
            var product_descripton_delete = $data.eq(4).text();
            var author_delete = $data.eq(5).text();
            var publish_date_delete = $data.eq(6).text();
            var product_manu_delete = $data.eq(7).text();
            var product_type_delete = $data.eq(8).text();
            var price_delete = $data.eq(9).text();
            var import_price_delete = $data.eq(10).text();
            var in_stock_delete = $data.eq(11).text();
            console.log(productIdToDelete);
            $("#product_name_delete").val(product_name_delete);
            $("#productIdToDelete").val(productIdToDelete);
            console.log($("#productIdToDelete").val());
            $("#product_descripton_delete").val(product_descripton_delete);
            $("#author_delete").val(author_delete);
            $("#publish_date_delete").val(publish_date_delete);
            $("#product_manu_delete").val(product_manu_delete);
            $("#product_type_delete").val(product_type_delete);
            $("#price_delete").val(price_delete);
            $("#import_price_delete").val(import_price_delete);
            $("#in_stock_delete").val(in_stock_delete);
            console.log($("#deleteProductForm"));
            $('#deleteProductForm').submit(function () {
                $(this).ajaxSubmit({
                    error: function (xhr) {
                        console.log(xhr.status);
                    },
                    success: function (response) {
                        $("#submit_result_delete").text(response.feedback);
                        if (response.isSuccess === true) {
                            $("#submit_result_delete").css({ "color": "#4cd137", "font-size": "20px" });
                        }
                        else {
                            $("#submit_result_delete").css({ "color": "red", "font-size": "20px" });
                        }
                    }
                });
                return false;
            });
        });
    });

</script>
<!-- END Modal Add Item -->