<div class="container">
  <h1>Thông tin tài khoản</h1>
  {{#with layoutVM.curUser}}
  <form method="POST" action="/account/edit" style="margin: 20px; padding: 20px; background: #dfe6e9;">
    <div class="form-group row">
      <div class="col-md-3 entry_information">
        <label>Họ và tên</label>
      </div>
      <div class="col-md-9 entry_information">
        <input required type="text" class="form-control" name="name" placeholder="Hãy nhập họ và tên của bạn..." value="{{this.name}}"
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 entry_information">
        <label>Email</label>
      </div>
      <div class="col-md-9 entry_information">
        <input required type="email" class="form-control" name="email" disabled placeholder="Hãy nhập email của bạn..." value="{{this.email}}"
        /> {{#if isError}}
        <span id="error_message" style="color:orangered; display: block">* Email is exist. Please try another.</span>
        {{/if}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 entry_information">
        <label>SDT</label>
      </div>
      <div class="col-md-9 entry_information">
        <input required type="text" class="form-control" name="phone" placeholder="Hãy nhập sdt của bạn..." value="{{this.phone_number}}" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 entry_information">
        <label>Ngày sinh</label>
      </div>
      <div class="col-md-9 entry_information">
        <input required type="date" class="form-control" name="dob" placeholder="Hãy nhập ngày sinh của bạn..." value="{{this.date_of_birth}}" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3 entry_information">
        <label>Địa chỉ</label>
      </div>
      <div class="col-md-9 entry_information">
        <input required type="text" class="form-control" name="address" placeholder="Hãy nhập địa chỉ của bạn..." value="{{this.address}}"
        />
      </div>
    </div>

    <div style="margin: 0 auto; position: relative; text-align: center;width: 50%">
      <button type="submit" class="btn btn-success col-md-12">Cập nhật</button>
    </div>
  </form>
  {{/with}}
</div>