<div class="web_container">
    <!-- BEGIN ADD DANH-NH -->
    <div class="cart_body row">
        <!-- code web-body at here -->
        <div class="col-md-9 cart_container">
            <div class="cart_label_row">
                <div class="cart_label" style="padding: 20px 0 20px 0; font-size:25px; color: #0984e3;">
                    Giỏ hàng
                    <span class="cart_quantity_label"></span>
                </div>
            </div>
             {{#each products}}
            <div class="cart_product_row col-md-12 row">
                <div class="cart_product_img col-md-2">
                    <img src="/resources/{{this.id_product}}.jpg"
                        width="100%" alt="">
                </div>
                <div class="cart_product_info col-md-6">
                    <div class="cart_product_name">
                        {{this.name}}
                    </div>
                    <div class="cart_product_type">{{this.manufacturer}}</div>
                    <div class="cart_product_producer">
                        {{this.author}}
                    </div>
                </div>
                <div class="cart_product_price col-md-2" data-price="20000">
                    {{number_format this.price}} đ
                    </br>
                    <h6> Còn lại: {{this.in_stock}}</h6>
                    </div>
                <div class="cart_extend_info col-md-2">
                    <div class="cart_product_remove">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="cart_product_quantity_row row">
                        <div class="decrease_btn">-</div>
                        <input id="quantity_input" type="text" value="1" name="order_quantity" />
                        <div class="increase_btn">+</div>
                    </div>
                </div>
            </div>
             {{/each}}
        </div>
        
        <div class="col-md-3 cart_checkout_container">
            <div class="total_price_label">Tổng tiền:
                <span class="total_price">100.000 đ</span>
            </div>
            <a href="/shipping"><div class="cart_btn_checkout" data-toggle="modal" data-target="#exampleModal"> Đặt hàng</div></a>
        </div>
    </div>
    <!-- END ADD DANH-NH -->
</div>

+
<!-- Modal -->
+
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    +
    <div class="modal-dialog" role="document">
        +
        <div class="modal-content">
            +
            <div class="modal-header">
                +
                <h5 class="modal-title" id="exampleModalLabel">Thêm vào giỏ hàng thành công</h5>
                +
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    +
                    <span aria-hidden="true">&times;</span>
                    + </button>
                + </div>
            + {{!--
            <div class="modal-body">
                + + </div> --}} +
            <div class="modal-footer">
                +
                <button type="button" class="btn btn-primary">
                    <a href="/checkout/cart">Xem giỏ hàng và thành toán</a>
                </button>
                + </div>
            + </div>
        + </div>
</div>
