{{#contentFor "pageCSS"}}
<link rel="stylesheet" href="/stylesheets/detail_page.css"> {{/contentFor}}

<div class="detail_container">
    <div class="breadcrumb_container row">
        <div class="breadcrumb_item">
            <a href="/"> Trang chủ </a>
        </div>
        <div class="path_seperator">❯</div>
        <div class="breadcrumb_item">
            <a href="/products/byClass/{{product.id_class}}"> {{product.type_name}} </a>
        </div>
        <div class="path_seperator">❯</div>
        <div class="breadcrumb_item"> {{product.name}} </div>

    </div>
    <div class="row product_detail_container">
        <div class="col-md-4  product_image_wraper">
            <div class="product_image_div">
                <img class="product_img" src="{{layoutVM.imageUrl}}/{{product.id_product}}.jpg" alt="">
            </div>
        </div>
        <div class="col-md-8 product_info_wraper">
            <div class="info_box">
                <div class="general_info_container">
                    <div class="product_name">{{product.name}}</div>
                    {{#if product.out_of_stock}}
                    <div class="product_price">Hết hàng</div>
                    {{else}}
                    <div class="product_price">{{number_format product.price}} đ</div>
                    {{/if}}
                    <div class="product_origin_info row">

                        <div class="product_producer_info">
                            <a href="#">{{product.author_name}}</a>
                        </div>

                        <div class="product_country_info">
                            <a href="#">{{product.manufacturer_name}}</a>
                        </div>

                    </div>
                    <div class="product_rating row">
                        <div class="product_viewed">Lượt xem: {{product.view_count}}</div>
                        <div class="product_sold">Đã bán: {{product.sell_amount}}</div>
                    </div>
                </div>
            </div>
            <div class="add_cart_and_descript_container row">
                <div class="col-md-8 descript_box">
                    <div class="descript_title">Mô tả</div>
                    <div class="descript">
                        <p>
                            {{product.description}}
                        </p>
                    </div>
                </div>
            </div>

            {{#if product.out_of_stock}} {{else}} {{#if layoutVM.isLogged}}
            <div style="background:#dfe6e9; width: 50%; padding: 20px;">
                <form method="POST" action="/cart/add" id="addItemForm">
                    <input name="id_product" type="hidden" value="{{product.id_product}}">
                    <div class="form-group row">
                        <div class="col-md-3 entry_information">
                            <label>Số lượng</label>
                        </div>
                        <div class="col-md-9 entry_information">
                            <input required type="number" class="form-control" name="amount" value="1" />
                        </div>
                    </div>
                    <div style="margin: 0 auto; position: relative; text-align: center;width: 50%">
                        <button type="submit" class="btn btn-primary col-md-12">Cho vào giỏ hàng</button>
                    </div>
                </form>
            </div>
            {{/if}} {{/if}}
        </div>

        <div style="padding-top: 10px; border: 1px solid #dfe6e9; border-style: solid none none none;font-size: 20px; color:#1abc9c;">
            Các sản phẩm cùng loại
        </div>
        <div class="same_type_list">
            <div class="relate_product_row row">
                {{#each sameTypeProducts}}
                <a href="/details/{{this.id_product}}" class="relate_product_wraper">
                    <div class="relate_product_img_warper">
                        <img id="relate_product_img" src="{{../layoutVM.imageUrl}}/{{this.id_product}}.jpg" alt="">
                    </div>
                    <div class="relate_product_name">{{this.name}}</div>
                    <div class="relate_product_price">{{number_format this.price}} đ</div>
                </a>
                {{/each}}
            </div>
        </div>

        <div style="padding-top: 5px; border: 1px solid #dfe6e9; border-style: solid none none none; font-size: 20px; color:#1abc9c;">
            Các sản phẩm cùng nhà sản xuất
        </div>
        <div class="same_producer_list">
            <div class="relate_product_row row">
                {{#each sameManufacturerProducts}}
                <a href="/details/{{this.id_product}}" class="relate_product_wraper">
                    <div class="relate_product_img_warper">
                        <img id="relate_product_img" src="{{../layoutVM.imageUrl}}/{{this.id_product}}.jpg" alt="">
                    </div>
                    <div class="relate_product_name">{{this.name}}</div>
                    <div class="relate_product_price">{{number_format this.price}} đ</div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>