<div class="container">
    <h1>Lịch sử đặt hàng</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 10%;">#</th>
                    <th style="width: 40%;">Thời gian đặt hàng</th>
                    <th style="width: 20%;">Tổng giá tiền</th>
                    <th style="width: 10%;">Trạng thái</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>
                        <span>{{this.id_order}}</span>
                    </td>
                    <td>
                        <span>{{date_time_format this.time_place}}</span>
                    </td>
                    <td>
                        <span>{{number_format this.total_price}} đ</span>
                    </td>
                    <td>
                        <span>{{order_status this.status}}</span>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/order/{{this.id_order}}">Chi tiết</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>