<div class="container">
      <div>
            <div class="instruction-text">Top 10 sản phẩm mới nhất</div>
            <div class="top_ten_row row">
                  {{#each top_new}}
                  <a href="/details/{{this.id_product}}" class="top_ten_product" id="imgResize">
                        <div class="top_ten_img">
                              <img src="/resources/{{this.id_product}}.jpg" title="{{this.name}}" alt="{{this.id_product}}.jpg" style="width:100%">
                        </div>
                  </a>
                  {{/each}}
            </div>

            <div class="instruction-text">Top 10 sản phẩm bán chạy nhất</div>
            <div class="top_ten_row row">
                  {{#each top_sale}}
                  <a href="/details/{{this.id_product}}" class="top_ten_product" id="imgResize">
                        <div class="top_ten_img">
                              <img src="/resources/{{this.id_product}}.jpg" title="{{this.name}}" alt="{{this.id_product}}.jpg" style="width:100%">
                        </div>
                  </a>
                  {{/each}}
            </div>

            <div class="instruction-text">Top 10 sản phẩm xem nhiều nhất</div>
            <div class="top_ten_row row">
                  {{#each top_viewed}}
                  <a href="/details/{{this.id_product}}" class="top_ten_product" id="imgResize">
                        <div class="top_ten_img">
                              <img src="/resources/{{this.id_product}}.jpg" title="{{this.name}}" alt="{{this.id_product}}.jpg" style="width:100%">
                        </div>
                  </a>
                  {{/each}}
            </div>
      </div>

      <div class="left_side_menu">
            <div class="left_side_menu_title">Danh mục sản phẩm</div>
            <div class="left_side_child_menu_title">Thể loại</div>
            <div class="product_type_menu_list">
                  <div id="bookTypeMenuItem">
                        {{#each layoutVM.type}}
                        <div class="product_type menu_item">
                              <a href="/products/byClass/{{this.id_class}}">{{this.name}}</a>
                        </div>
                        {{/each}}
                  </div>

            </div>

            <div class="left_side_child_menu_title">Nhà xuất bản</div>
            <div class="producer_menu_list">
                  <div id="nxbMenuItem">
                        {{#each layoutVM.manufacturer}}
                        <div class="product_type menu_item">
                              <a href="/products/byManu/{{this.id_manufacturer}}">{{this.name}}</a>
                        </div>
                        {{/each}}
                  </div>
            </div>

            <div class="left_side_child_menu_title">Giá</div>
            <div class="producer_menu_list">
                  <div id="pricingMenuItem">
                        <div class="producter menu_item">Dưới 50 ngàn (987)</div>
                        <div class="producter menu_item">Từ 50 - 100 ngàn (653)</div>
                        <div class="producter menu_item">Từ 100 - 300 ngàn (204)</div>
                        <div class="producter menu_item">Từ 300 - 500 ngàn (71)</div>
                        <div class="producter menu_item">Trên 500 ngàn (27)</div>
                  </div>
            </div>
      </div>

      <div class="product_container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li>
                        <a href="/products/all">Xem thêm sản phẩm...</a>
                    </li>
                </ul>
            </nav>
            
            <div class="container-flexbox">
                  {{#each products}}
                  <div class="box">
                        <a href="/details/{{this.id_product}}">
                              <span class="image">
                                    <img src="/resources/{{this.id_product}}.jpg" alt="{{this.id_product}}.jpg">
                              </span>
                              <span class="title">
                                    {{this.name}}
                              </span>
                              <h4 style="color: orange; margin-top: 10px;">{{number_format this.price}} đ</h4>    
                              {{#if ../layoutVM.isLogged}}
                              <a style="width: 100%; margin-top: 10px; text-align: center;" class="btn btn-info">
                                    <span>
                                          <img src="/resources/imgs/icons/checkout.png" />
                                    </span>
                              </a>
                              {{/if}}
                        </a>
                  </div>
                  {{/each}}
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li>
                        <a href="/products/all">Xem thêm sản phẩm...</a>
                    </li>
                </ul>
            </nav>
      </div>
</div>