{{#contentFor "pageCSS"}}
<link rel="stylesheet" href="/stylesheets/product_item.css">
<link rel="stylesheet" href="/stylesheets/left_side_menu.css">
{{/contentFor}}

<div class="container">
    <div>
        <div class="left_side_menu">
            <div class="left_side_menu_title">Danh mục sản phẩm</div>
            <div class="left_side_child_menu_title">Thể loại</div>
            <div class="product_type_menu_list">
                <div id="bookTypeMenuItem">
                    {{#each layoutVM.type}}
                    <div class="product_type menu_item">
                        <a href="/products/byClass/{{this.id_class}}">{{this.name}}</a>
                    </div>
                    {{/each}}
                </div>

            </div>

            <div class="left_side_child_menu_title">Nhà xuất bản</div>
            <div class="producer_menu_list">
                <div id="nxbMenuItem">
                    {{#each layoutVM.manufacturer}}
                    <div class="product_type menu_item">
                        <a href="/products/byManu/{{this.id_manufacturer}}">{{this.name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="left_side_child_menu_title">Giá</div>
            <div class="producer_menu_list">
                <div id="pricingMenuItem">
                    <div class="producter menu_item">
                        <a href="/products/byPrice?min=0&max=50000">Dưới 50 ngàn</a>
                    </div>
                    <div class="producter menu_item">
                        <a href="/products/byPrice?min=50000&max=100000">Từ 50 - 100 ngàn</a>
                    </div>
                    <div class="producter menu_item">
                        <a href="/products/byPrice?min=100000&max=300000">Từ 100 - 300 ngàn</a>
                    </div>
                    <div class="producter menu_item">
                        <a href="/products/byPrice?min=300000&max=500000">Từ 300 - 500 ngàn</a>
                    </div>
                    <div class="producter menu_item">
                        <a href="/products/byPrice?min=500000&max=100000000">Trên 500 ngàn</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="product_container">
            <div class="product-box">
                {{#with result}}
                <h4>{{this.instruction}}: {{this.total}}</h4>
                {{/with}}
            </div>
            <div class="container-flexbox">
                {{#each products}}
                <div class="box">
                    <a href="/details/{{this.id_product}}">
                        <span class="image">
                            <img src="/resources/{{this.id_product}}.jpg" alt="{{this.id_product}}.jpg">
                        </span>
                        <span class="title">
                            {{this.name}}
                        </span>
                        <h4 style="color: orange;">{{number_format this.price}} đ</h4>
                        {{#if ../layoutVM.isLogged}}
                        <a style="width: 100%; margin-top: 10px; text-align: center;" class="btn btn-info">
                            <span>
                                <img src="/resources/imgs/icons/checkout.png" />
                            </span>
                        </a>
                        {{/if}}
                    </a>
                </div>
                {{/each}}
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    {{#with prevPage}} {{#if this.isOK}}
                    <li class="page-item pagination-prev">
                        <a class="page-link" href="{{this.url}}">Previous</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled pagination-prev">
                        <a class="page-link" href="{{this.url}}">Previous</a>
                    </li>
                    {{/if}} {{/with}} {{#each pages}} {{#if this.isCurPage}}
                    <li class="page-item active">
                        <a class="page-link" href="{{this.url}}">{{this.val}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="{{this.url}}">{{this.val}}</a>
                    </li>
                    {{/if}} {{/each}} {{#with nextPage}} {{#if this.isOK}}
                    <li class="page-item pagination-next">
                        <a class="page-link" href="{{this.url}}">Next</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled pagination-next">
                        <a class="page-link" href="{{this.url}}">Next</a>
                    </li>
                    {{/if}} {{/with}}
                </ul>
            </nav>
        </div>
    </div>